<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chance-Encounter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCAA14E91C87FA860044E386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCAA15001C87FA870044E386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCAA150B1C87FA870044E386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
